@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  background: #fff;
}

/* ERROR TEXT */
.error {
  color: #ff3f80;
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}
/* END ERROR TEST */

/* LOGIN ANF SIGNUP FORM */
.auth-form {
  max-width: 450px;
  width: 95%;
  margin: 0 auto 40px;
}

.auth-form .form-control {
  margin-bottom: 20px;
}

.auth-form .form-control label {
  display: block;
  margin: 0 0 8px;
}

.auth-form .form-control input {
  width: 100%;
  padding: 12px 14px;
  font: inherit;
  border-radius: 6px;
  border: 1px solid rgb(220, 220, 220);
  outline: none;
  color: #999;
}
/* END LOGIN AND SIGNUP FORM */

button {
  outline: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

button:focus{
  outline: none;
}
