@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Karla', sans-serif;
  background: #e3e1ff;
  color: #444;  
}

/* #app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
} */

.container {
  /* max-width: 960px; */
  height: 100vh;
  width: 100vw;
  /* border-radius: 6px;
  box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1); */
  background: #fff;
}

.error {
  color: #ff3f80;
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}

button {
  background: #5d7cf3;
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font: inherit;
  outline: none;
}