@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Karla", sans-serif;
}

/* ERROR TEXT */
.error {
  color: #ff3f80;
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}
/* END ERROR TEST */

/* LOGIN ANF SIGNUP FORM */
.auth-form {
  max-width: 100%;
  width: 100%;
}

.auth-form .form-control {
  margin-bottom: 20px;
  position: relative;
}

.auth-form .form-control .icon {
  position: absolute;
  color: #999;
  font-size: 20px;
  bottom: 17px;
  right: 15px;
}

.auth-form .form-control label {
  display: block;
  margin: 0 0 8px;
  color: #3d4555;
}

.auth-form .form-control input {
  width: 100%;
  padding: 18px 50px 18px 14px;
  font: inherit;
  border-radius: 6px;
  border: 1px solid rgb(220, 220, 220);
  outline: none;
  color: #999;
}

.auth-form .submit {
  width: 100%;
  height: 60px;
  padding: 0;
  background: #5c62f2;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* END LOGIN AND SIGNUP FORM */

button {
  outline: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}
